/* home */

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-position:center ;
  background-image:url(try5.jpg) ;
  background-repeat: repeat no-repeat;
  background-size:cover ;
  background-attachment: fixed;
}

.welcome {
  text-align: center;
  color:beige ;
  text-shadow: 2px 9px 5px rgba(11, 36, 38, 0.992);
  width:95%;
  padding:10px;
  padding-top:300px;
  font-size:x-large ;
  padding-left: 2%;
}

ul {
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  border-radius: 25px;
  margin-top:15px;
  box-shadow: 0px 0px 17px currentcolor;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 25px;
  border: 2px solid white;
}

.colour {
  background-color: lightseagreen; 
}

h1{
  text-align:center;
  padding-top: 0%;
  text-shadow: 2px 9px 5px rgba(4, 20, 22, 0.992);
  color: beige;
  font-size: xx-large;
}

span {
  color:red ;
}


/* contact */
 
div {
  text-align: center;
  padding-top: 4%;
}

.container {
  padding:50px;
}

h3 {
  float: right;
  font-size: xx-large;
  color:beige;
  padding-right:3% ;
  padding-top: 2%;
}

input[type=form] {
  border-radius: 10px;
  padding: 9px 22px;
  opacity: 75%;
  border:none;
}

textarea {
  border-radius: 10px;
  opacity: 75%;
  border: none;
}

.submit {
  border-radius: 10px;
  background-color: #42bfcd;
  padding:10px;
  border: none;
  width:95px ;
  height:40px ;
  margin-left:46.5% ;
}

.submit:hover {
  background-color: rgb(85, 225, 77);
}

a {
  text-decoration-line:none;
  color: aliceblue;
}

label {
  color: beige;
}

/* portfolio */

.placeholder {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:65px ;
}

 .left-image {
   border-style:none;
   float: left;
   margin-left: 20px;
   border-radius:25px ;
   height:500px ;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
 }

  img {
    width:250px;
  } 

 .middle-image {
   border-style:none ;
   float:bottom;
   margin-bottom: 20px;
   border-radius:25px;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
   z-index:-1;
 }

.right-image {
   float:right;
   border-style:none;
   margin-right:20px;
   border-radius:25px;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
}

h2 {
  padding-top:150px ;
  color:beige;
}

/* Blog */

.blogs {
  display: grid;
  grid-template-columns:auto auto auto;
  grid-column-gap:50px ;
  margin-top:8% ;
}

.page1 {
  background-color: antiquewhite;
  margin-left:15px ;
  height:150% ;
  border-radius:20px ;
  padding:20px ;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase1 {
    padding:8px ;
    font-size: xx-large;
    text-shadow: 22px;
    color: rgb(232, 11, 11);
=======
>>>>>>> 71b4607967de03ae7ca0ab132e66b547c1bd9ca9
}

.page2 {
  background-color:antiquewhite;
  height:150% ;
  border-radius:20px ;
  padding: 20px;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase2 {
    padding:8px ;
    font-size: xx-large;
    text-shadow: 22px;
    color: rgb(232, 11, 11);
}

.page3 {
  background-color: antiquewhite;
  margin-right:15px ;
  height:150% ;
  border-radius:20px ;
  padding: 20px;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase3 {
    padding:8px ;
    font-size: xx-large;
    text-shadow: 22px;
    color: rgb(232, 11, 11); 
}

/* site report */



/* media query to make it responsive(easy to use on mobile phone sreen) */

@media only screen and (max-width: 760px) {
  li{
    float:none;
  }
   .placeholder{
     grid-template-columns: none;
   }
   .blogs{ grid-template-columns: none;}
}






