/* home */

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-position:center ;
  background-image:url(try5.jpg) ;
  background-repeat: repeat no-repeat;
  background-size:cover ;
  background-attachment: fixed;
}

.welcome {
  text-align: center;
  color:beige ;
  text-shadow: 2px 9px 5px rgba(11, 36, 38, 0.992);
  width:95%;
  padding:10px;
  padding-top:300px;
  font-size:x-large ;
  padding-left: 2%;
}

ul {
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  border-radius: 25px;
  margin-top:15px;
  box-shadow: 0px 0px 17px currentcolor;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  border-radius: 25px;
  border: 2px solid white;
}

.colour {
  background-color: lightseagreen; 
}

h1{
  text-align:center;
  padding-top: 0%;
  text-shadow: 2px 9px 5px rgba(4, 20, 22, 0.992);
  color: beige;
  font-size: xx-large;
}

span {
  color:red ;
}


/* contact */
 
div {
  text-align: center;
  padding-top: 4%;
}

.container {
  padding:50px;
}

h3 {
  float: right;
  font-size: xx-large;
  color:beige;
  padding-right:3% ;
  padding-top: 2%;
}

input[type=text] {
  border-radius: 10px;
  padding: 9px 22px;
  opacity: 75%;
  border:none;
}

textarea {
  border-radius: 10px;
  opacity: 75%;
  border: none;
}

.submit {
  border-radius: 10px;
  background-color: #42bfcd;
  padding:10px;
  border: none;
  width:95px ;
  height:40px ;
  margin-left:46.5% ;
}

.submit:hover {
  background-color: rgb(85, 225, 77);
}

a {
  text-decoration-line:none;
  color: aliceblue;
}

label {
  color: beige;
}

/* portfolio */

.placeholder {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap:65px ;
}

 .left-image {
   border-style:none;
   float: left;
   margin-left: 20px;
   border-radius:25px ;
   height:500px ;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
 }

  img {
    width:250px;
  } 

 .middle-image {
   border-style:none ;
   margin-bottom: 20px;
   border-radius:25px;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
   z-index:-1;
 }

.right-image {
   float:right;
   border-style:none;
   margin-right:20px;
   border-radius:25px;
   background-color:rgb(138, 139, 144);
   opacity:75% ;
}

h2 {
  padding-top:150px ;
  color:beige;
}

/* Blog */

.blogs {
  display: grid;
  grid-template-columns:auto auto auto;
  grid-column-gap:50px ;
  margin-top:8% ;
}

.page1 {
  background-color: antiquewhite;
  margin-left:15px ;
  height:150% ;
  border-radius:20px ;
  padding:20px ;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase1 {
    padding:8px ;
    font-size: xx-large;
    color: rgb(232, 11, 11);
}

.page2 {
  background-color:antiquewhite;
  height:150% ;
  border-radius:20px ;
  padding: 20px;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase2 {
    padding:8px ;
    font-size: xx-large;
    color: rgb(232, 11, 11);
}

.page3 {
  background-color: antiquewhite;
  margin-right:15px ;
  height:150% ;
  border-radius:20px ;
  padding: 20px;
  font-size:larger ;
  font-family:serif ;
  text-align: start;
  opacity:85% ;
}

.phase3 {
    padding:8px ;
    font-size: xx-large;
    color: rgb(232, 11, 11); 
}

/* site report */

.report250 {
  background-color: beige;
  border-radius:10px ;
  margin:20px 20px 0px 20px ;
  padding:20px ;
  text-align:start ;
  font-size: large;
}

.title {
  font-size: xx-large;
  font-family:serif ;
  padding:1px ;
}

.val {
 background-color: rgb(181, 181, 137);
 height: 770px ;
 border-radius:10px ;
 margin: 20px 20px 0px 20px ;
 font-size: xx-large;
 font-weight: 400;
}

.validation {
  text-align:start ;
  display:grid ;
  margin: 0px 20px 20px 20px;
  grid-template-columns: 450px 450px 450px ;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;

}

.im1{
  background-image:url(home.jpg);
  background-size: cover;
  grid-row: 1/2;
  height:300px;
}

.im2{
  background-image:url(portfolio.jpg);
  background-size: cover;
  grid-row:1/2;
  grid-column:2/3;
  height:300px;
}

.im3{
  background-image:url(contact.jpg);
  background-size: cover;
  grid-row: 1/2;
  grid-column:3/3;
  height:300px;
}

.im4{
  background-image:url(blog.jpg);
  background-size: cover;
  grid-row: 2/2;
  height:300px;
}

.im5{
  background-image:url(sitereport.jpg);
  background-size: cover;
  grid-row: 2/2;
  grid-column:2/3 ;
  height:300px;
}

.im6{
  background-image:url(css.jpg);
  background-size: cover;
  grid-row: 2/2;
  grid-column:3/3 ;
  height:300px;
}

.ref {
  font-size: xx-large;
  padding:2px ;
}

.references {
  background-color: bisque;
  border-radius:10px ;
  margin:20px 20px 20px 20px ;
  padding:10px ;
  text-align: start;
  font-size: large;

}



/* media query to make it responsive(easy to use on mobile phone sreen) */

@media only screen and (max-width: 540px) {
  li{
    float:none;
  }
   .placeholder{
     grid-template-columns: none;
   }
   .blogs{ grid-template-columns: none;}
   .page1 {margin-right:20px ;padding:20px 20px 20px 20px ;height:fit-content }
   .page2 {margin:20px 20px 0px 20px;height: auto;}
   .page3 {margin:20px; height: fit-content;}
  ul { margin: 15px 20px 2px 20px;}
   .left-image {margin:0px 20px 20px 20px}
   .middle-image {margin:0px 20px 20px 20px ;}
   .right-image {margin:0px 20px 20px 20px ;} 
   .val{height:2000px;}
   .validation { grid-template-columns: auto; grid-template-rows: auto auto auto auto auto auto;}
   .im1{grid-column:1/1;width:400px;}
   .im2{grid-row:2/6;grid-column:1/1;}
   .im3 {grid-row:3/6;grid-column:1/1;margin-top:300px ;}
   .im4 {grid-row:4/6;grid-column:1/1;margin-top:600px ;}
   .im5 {grid-row:5/6;grid-column:1/1;margin-top:900px ;}
   .im6 {grid-row:6/6;grid-column:1/1;}
}







